.placeOrderOuterContainer {
    /* border: 2px solid red; */
    width: 100vw;
    min-height: 84vh;
    display: flex;
    justify-content: center;
}

.placeOrderContainer {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: #333232;
}

.orderImgAndHeading {
    display: flex;
    flex-direction: column;
}

.order1Img {
    align-self: center;
    /* border: 1px solid; */
    width: 170px;
    height: 120px;
    background-image: url(../../assets/order1.jpg);
}

.order2Img {
    align-self: center;
    /* border: 1px solid; */
    width: 99px;
    height: 46px;
    background-image: url(../../assets/order2.jpg);
}

.placeOrderHeading {
    font: normal normal bold 25px/30px 'Lato';
    text-align: center;
    margin: 5px 0;
}

.placeOrderContentConatainer {
    display: flex;
    text-align: center;
    justify-content: center;
}

.placeOrderContent {
    width: 354px;
    font: normal normal normal 18px/22px 'Lato';
}

.placeOrderDetailsContainer {
    box-sizing: border-box;
    min-height: 112px;
    height: auto;
    border: 1px solid #DCDCDC;
    display: flex;
    flex-direction: column;
}

.placeOrderDetailsHead, .placeOrderDetailsInfo {
    background-color: #FAFAFA;
    min-height: 42px;
    height: auto;
    border-radius: 1px solid #DCDCDC;
    display: flex;
    flex-direction: row;
    word-break: break-word;
}

.placeOrderDetailsHeadText {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 13px/15px 'Lato';
    width: 33.33%;
}

.placeOrderDetailsInfoText {
    padding: 10px;
    word-wrap: break-word;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 13px/15px 'Lato';
    border: 1px solid #DCDCDC;
}

@media screen and (max-width: 600px) {
    .placeOrderContainer {
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .placeOrderContainer {
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    .orderImgAndHeading, .placeOrderContentConatainer, .placeOrderDetailsContainer {
        margin: 10px 0;
    }
}