.outerSingleBookInfoContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.singleBookInfoContainer {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    /* border: 2px solid red; */
}

.bookImageShowContainer {
    width: 35%;
    /* border: 2px solid red; */
    height: 100%;
}

.singleBookImageContainer {
    width: 100%;
    height: 450px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}

.singleBookImage {
    /* border: 2px solid blue; */
    width: 100%;
    height: 80%;
    background: url(../../assets/bookImage1.png) center no-repeat;
    background-clip: padding-box;
    background-size: contain;
}

.btnContainer {
    width: 100%;
    display: flex;
    height: 38px;
    justify-content: space-between;
    margin: 20px 0;
}

.bookAddToBagBtnContainer {
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.bookAddToBagMinusBtn {
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    display: flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.bookAddToBagCounter {
    width: 56px;
    height: 100%;
    border: 1px solid #DBDBDB;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.bookAddToBagPlusBtn {
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookInfoShowContainer {
    width: 57%;
    height: 100%;
    /* border: 2px solid green; */
}

.singleBookMetadataContainer {
    width: 100%;
    min-height: 150px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singleBookName {
    /* border: 1px solid black; */
    font-size: 28px;
    font-family: 'Roboto';
    color: #0A0102;
}

.singleBookAuthorName {
    font-family: 'Roboto';
    font-size: 18px;
    color: #878787;
}

.singleBookRatings {
    display: flex;
}

.singleBookRatingPoints {
    background: #388E3C;
    text-align: center;
    border-radius: 1px;
    padding: 3px 5px;
    width: 60px;
    margin-right: 10px;
    color: #F5F5F5;
}

.numOfPeopleRating {
    color:#878787;
    padding: 3px 5px;
    font-size: 15px;
    font-family: 'Roboto';
}

.singleBookPriceContainer {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.newPrice {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 600;
}

.oldPrice {
    font-family: 'Roboto';
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #878787;
    text-decoration: line-through;
}

.singleBookDesc {
    padding: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.singleBookDescItem1 {
    font-family: 'Roboto';
    font-size: 17px;
    color: #878787;
    margin-bottom: 10px;   
}

.singleBookDescItem2 {
    color: #373434;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: normal;
    letter-spacing: 0;
}


.feedbackContainer {
    display: flex;
    flex-direction: column;
}

.feedbackHeading {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #0A0102;
    line-height: 24px;
    margin-top: 10px;
}

.writeFeedbackContainer {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin: 20px 0;
    height: 220px;
    padding: 15px;
    border-radius: 2px;
    justify-content: space-evenly;
}

.ratingText {
    font-size: 15px;
    font-family: 'Roboto';
    line-height: 16px;
    font-weight: 600;
    color: #0A0102;
}

.writeReviewTextarea {
    color: #707070;
    font-size: 15px;
    outline: none;
    resize: none;
    border: none;
    padding: 10px;
    font-family: 'Roboto';
    border-radius: 2px;
}

.submitReviewBtn {
    background-color: #3371b5;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #FCFCFC;
    width: 100px;
    align-self: flex-end;
    font-size: 15px;
}

.allReviewsContainer {
    margin-bottom: 30px;
}

.reviewContainer {
    min-height: 120px;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
}

.reviewAccImg {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    font-size: 11px;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    background-color: #F5F5F5;
    margin-right: 10px;
}

.reviewCustomerName {
    font-size: 15px;
    font-family: 'Roboto';
    color: #0A0102;
    font-weight: 600;
}

.customerReviewText {
    font-family: 'Roboto';
    font-size: 13px;
    color: #707070;
    text-align: justify;
}





